@model Models.Questions.QuestionsFilterModel

@using JQuery.DataTables.Extensions
@using Models.Questions
@using RobiGroup.AskMeFootball.Areas.Admin.Models.Questions

@{
    ViewData["Title"] = $"Вопросы в карте '{ViewBag.CardName}'";
}

<form id="search_form" asp-controller="Questions" asp-action="Index" asp-route-id="@ViewBag.CardId">
    <input type="hidden" asp-for="CardId"/>
    <div class="row form-group">
        <div class="col-sm-9">
            <input class="form-control" asp-for="Search" placeholder="Введите текст вопроса" />
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Create" asp-controller="Questions" asp-route-cardId="@ViewBag.CardId" asp-area="Admin">Создать вопрос</a>
    <form method="post"
          id="upload-excel-form"
          class="inline"
          asp-action="FileUpload"
          asp-controller="Questions"
          asp-area="Admin"
          asp-route-id="@ViewBag.CardId"
          enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="hidden" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <input id="btn-upload-excel" class="btn btn-success" type="button" value="Загрузить Excel файл" />
    </form>
    <div class="text-danger" asp-validation-summary="All"></div>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
<table id="rests" class="table table-striped"></table>

<div class="modal fade in" id="modal-question">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/moment/locale/ru.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>


    <script type="text/javascript">
        var restsTable;
        $(function() {

            $('#btn-upload-excel').click(function() {
                $('#file').click();
            });
            $('#file').change(function() {
                $('#upload-excel-form').submit();
            });

            restsTable = $('#rests').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "filter": false,
                dom: 'Bfrtip',
                pageLength: 20,
                "language": {
                    "url": "/lib/datatables.net/Russian.json"
                },
                ajax: {
                    url: "@Url.Action("_Filter", "Questions", new{area="Admin"})",
                    type: 'POST',
                    data: function(data) {

                        var formParams = $('#search_form').serializeArray();

                        for (var i = 0; i < formParams.length; i++) {
                            data[formParams[i].name] = formParams[i].value;
                        }

                        return data;
                    }
                },
                "columns": @(Html.DataTableColumns(typeof(QuestionViewModel), Json, Localizer))
            });

            $('#search_form').submit(function(e) {
                restsTable.ajax.reload();
                e.preventDefault();
            }).submit();
        });

        function renderAnswers(data, type, row, meta) {
            return '<a href="#" onclick="javascript:showAnswers(this)">' + row.answers.length +'</a>';
        }

        function renderActions(data, type, row, meta) {
            return '<a href="/Admin/QuestionBoxes/Index/' + row.id + '">Боксы</a>' + 
                    '<a href="/Admin/Questions/Delete/' + row.id + '">Удалить</a>';
        }

        function showAnswers(el) {
            var tr = $(el).closest('tr');
            var row = restsTable.row(tr);
            var data = row.data();

            $("#modal-question .modal-title").text(data.text);

            var ol = $('<ul type="circle"/>');

            data.answers.forEach(function(item, i) {
                ol.append('<li' + (item.id == data.answerId ? ' class="label label-success"' : '') + '>' + item.text + '</li>');
            });

            $("#modal-question .modal-body").html(ol);

            $("#modal-question").modal('show');
        }

    </script>
}